body {
  background-color: black;
  color: white;
}

#show-contact {
  display: none;
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

.contact {
  cursor: pointer;
  color: #0088CC;
}

.contact:hover {
  text-decoration: underline;
}

#contacts {
  font-size: 30px;
}
